<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Create or Update Ride</nb-card-header>
        <nb-card-body>
          <form >
        
                <div class="form-group row full-name-inputs">
                    <div class="form-group col-sm-6 input-group">
                      <input type="text" class="form-control" nbInput fullWidth placeholder="First Name">
                    </div>
                    <div class="form-group col-sm-6 input-group">
                      <input type="text" class="form-control" nbInput fullWidth placeholder="Last Name">
                    </div>
                  </div>
        
                  <div class="form-group row full-name-inputs">
                      <div class="form-group col-sm-6 input-group">
                        <input type="text" class="form-control" nbInput fullWidth placeholder="Planned Pick Up Date">
                      </div>
                      <div class="form-group col-sm-6 input-group">
                        <input type="text" class="form-control" nbInput fullWidth placeholder="Planned Pick Up Time">
                      </div>
                      <div class="form-group col-sm-6 input-group">
                          <input type="text" class="form-control" nbInput fullWidth placeholder="New Pick Up Date">
                        </div>
                        <div class="form-group col-sm-6 input-group">
                          <input type="text" class="form-control" nbInput fullWidth placeholder="New Pick Up Time">
                        </div>
                        
                    </div>

                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Status: Active">
                                </div>

            <button type="submit" nbButton shape="semi-round" status="danger" class="btn btn-primary">Save Ride Information</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>